.control {
  font-weight: 500;
  display: block;
  width: 100%;
  padding: var(--mantine-spacing-sm) var(--mantine-spacing-md);
  font-size: var(--mantine-font-size-sm);
  border-radius: var(--mantine-radius-sm);
  margin-bottom: var(--mantine-spacing-xs);
}

.link {
  font-weight: 500;
  display: block;
  text-decoration: none;
  padding: var(--mantine-spacing-sm) var(--mantine-spacing-md);
  padding-left: calc(var(--mantine-spacing-md) + var(--mantine-spacing-lg));
  font-size: var(--mantine-font-size-sm);
  background: none;
  border: none;
  width: 100%;
  text-align: left;
  border-radius: var(--mantine-radius-sm);
  margin-bottom: var(--mantine-spacing-xs);
}

.control, .link {
  transition: all ease 0.15s;
  cursor: pointer;

  @mixin hover {
    background-color: light-dark(var(--mantine-primary-color-9), var(--mantine-primary-color-9));
    color: var(--mantine-color-white);
  }

  &[data-active] {
    background-color: light-dark(var(--mantine-primary-color-9), var(--mantine-primary-color-9));
    color: var(--mantine-color-white);
    /* Prominent blue rim */
    box-shadow: 0 0 0 rem(2px) var(--mantine-primary-color-6);
  }

}

.linksInner {
  background-color: light-dark(var(--mantine-color-gray-4), var(--mantine-color-dark-6));
  padding-left: var(--mantine-spacing-md);
}

.chevron {
  transition: transform 200ms ease;
}
